.textunion {
  color: #1EBBA3;
}

.landing{
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1
}

.homewrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.homeinner {
  background-image: url("/umpire.webp");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.caption {
  z-index: 1;
  position: absolute;
  top: 38%;
  width: 100%;
  max-width: 100%;
}

.caption h1 {
  font-size: 4.5rem;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2.5rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 2rem;
}

.caption .btn-lg {
  font-size: 1.1rem;
  border-width: medium;
  padding: .8rem 1.6rem;
}


.btnsm {
  border-width: medium;
  border-radius: 0;
  padding: .5rem 1.1rem;
  text-transform: uppercase;
  font-size: .9rem;
  margin: 1rem;
}

h3.heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 1.9rem;
}

.headingunderline {
  width: 3rem;
  height: .2rem;
  background-color: #1EBBA3;
  margin: 0 auto 2rem;
}

.fixed {
  position: relative;
  width: 100%;
}

.fixedwrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9999;
}

.fixeddark {
  background-image: url("/apple.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1;
  top: 0;
  left: 0;
  display: table;
}

.dark {
  background-color: rgba(0, 0, 0, .7);
  padding: 7rem 0;
  z-index: 1000;
}

.pricingcolumn {
    background-color: white;
    height: 100%;
    padding: 1.6rem;
    border-top: .25rem solid  #1EBBA3;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
    transition: transform .7s ease;
    position: relative;
    overflow: hidden;
}

.pricingcolumn:hover {
    transform: scale(1.1);
}

.pricingcolumn h4 {
    font-size: 1.1rem;
    font-weight: 700;
}

.ribbon {
    background-color: #6C757D;
    color: white;
    font-size: .8rem;
    font-weight: 700;
    height: 2rem;
    width: 10rem;
    padding-top: .4rem;
    position: absolute;
    transform: rotate(45deg);
    right: -2.8rem;
    top: 1.5rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .25);
}

.fixedwrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9999;
}

.fixedlight {
  background-image: url("/office.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1;
  top: 0;
  left: 0;
  display: table;
}

.light {
  background-color: rgba(255, 255, 255, .7);
  padding: 5rem 0;
  z-index: 1000;
}

.owl-stage {
  display: flex;
}

.card:hover {
  transform: scale(.95);
  transition: transform .4s ease;
}

button.owl-dot.active span,
button.owl-dot:hover span {
  background-color: #1EBBA3!Important;
}

ul.social {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

ul.social li {
  display: inline;
  padding-right: .8rem;
}

ul.social li a {
  color: #1EBBA3;
  transition: all .2s ease;
}

ul.social li a:hover {
  color: #505962;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media(max-width: 991.98px){
  .caption h1 {
      font-size: 3.5rem;
      letter-spacing: .2rem;
      padding-bottom: .8rem;
  }

  .caption h3 {
      font-size: 2.2rem;
      padding-bottom: 1.7rem;
  }

  .caption .btn-lg {
      font-size: 1rem;
      padding: .7rem 1.2rem;
  }

}

/* Devices under 768px (md) */
@media(max-width: 767.98px){
  .caption h1 {
      font-size: 2.7rem;
      letter-spacing: .15rem;
      padding-bottom: .5rem;
  }

  .caption h3 {
      font-size: 1.7rem;
      padding-bottom: 1.2rem;
  }

  .caption .btn-lg {
      padding: .6rem 1.1rem;
  }

}

/* Devices under 576px (sm) */
@media(max-width: 575.98px){
  .caption h1 {
      font-size: 1.9rem;
      letter-spacing: .1rem;
      padding-bottom: .2rem;
  }

  .caption h3 {
      font-size: 1.2rem;
      padding-bottom: 1rem;
  }

  .caption .btn-lg {
      font-size: .9rem;
      padding: .4rem .9rem;
  }

}