.actions {
  float: right;
  font-size: smaller;
}
.actions a {
  margin-right: 0.5rem;
}

.addButton {
  position: fixed;
  z-index: 1000;
  right: 0.4rem;
  height: 3rem;
  width: 3rem;
  line-height: 2.6rem;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #0d6efd;
  color: white;
  text-align: center;
  top: 12rem;
}

.addButton > a {
  display: block;
  text-decoration: none;
  color: white;
}
