.actions {
  float: right;
  font-size: smaller;
}
.actions a {
  margin-right: 0.5rem;
}

.arbitrosList {
  flex-direction: column;
}

.arbitroItem {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.info {
  width: 20rem;
}

.addButton {
  position: fixed;
  z-index: 1000;
  right: 0;
  height: 60px;
  width: 60px;
  line-height: 55px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #0d6efd;
  color: white;
  text-align: center;
  top: 12rem;
}

.addButton > a {
  display: block;
  text-decoration: none;
  color: white;
}
